/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
/* container do modal */
.modal .modal-container {
  background: linear-gradient(to right,#151926,#21263b);
  margin: 10vh auto; 
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  animation-name: animacao;
  animation-duration: 0.4s;
}
/* animacao de abertura do modal */
@keyframes animacao {
  from {opacity: 0}
  to {opacity: 1}
}
/* botao de fechar do modal */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
                      /* elemtos do modal */
/* --------------------------HEADER------------------------- */
.modal-header{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "mh1 mh2 mh3";
  padding: 10px;
}
.modal-header-1{
  grid-area: mh1;
  display: flex;
  justify-content: center;
  align-content: center;
  /* background-color: blue; */
}
.modal-header-2{
  grid-area: mh2;
  display: flex;
  justify-content: center;
  align-content: center;
  /* background-color: red; */
  font-size: 25px;
}
.modal-header-3{
  grid-area: mh3;
  display: flex;
  justify-content: center;
  align-content: center;
  /* background-color: green; */
}
/* titulo do modal */
.modal-header #modal-title{
  color: aliceblue;
}
/* elemento span do modal */
.modal-header span{
  display: flex;
  align-items: center;
}
/* elemanto span direito do modal */
.modal-header span.right{
  justify-content: end;
}
/* imagens do modal */
.modal-header img{
  width: 60%;
}
/* --------------------------FOOTER------------------------- */
.modal-footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "mf1 mf2 mf3";
  padding: 5px;
}
/* modal footer pedaco esquerdo */
.modal-footer-1{
  grid-area: mf1;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
}
/* modal footer pedaco do meio */
.modal-footer-2{
  grid-area: mf2;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
}
/* modal footer pedaco direito */
.modal-footer-3{
  grid-area: mf3;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
}
/* todos os elementos botao do modal */
.modal-footer .btn_modal{
  background-color: #151926;
  width: 100%;
  padding: 5px 5px;
  border-radius: 15px; 
  font-weight: bold;
}
/* botao reserva */
.modal-footer #btn_Reserva{
  border: solid 2px #f9ea64;
  color: #f9ea64;
}
.modal-footer #btn_Reserva:hover{
  border: solid 2px #f9ea64;
  color: #151926;
  background-color: #f9ea64;
}
/* botao check-in */
.modal-footer #btn_Check-in{
  border: solid 2px #63fc7f;
  color: #63fc7f;
}
.modal-footer #btn_Check-in:hover{
  border: solid 2px #63fc7f;
  color: #151926;
  background-color: #63fc7f;
}
/* botao check-out */
.modal-footer #btn_Check-out{
  border: solid 2px #fd6f61;
  color: #fd6f61;
}
.modal-footer #btn_Check-out:hover{
  border: solid 2px #fd6f61;
  color: #151926;
  background-color: #fd6f61;
}
/* --------------------------BODY------------------------- */
.modal-body{
  width: 100%;
  padding: 0 25px;
  font-weight: bold;
  color: white;
  font-size: 15px;
}  
.modal-body input[type=text]{
 border: none;
 padding: 5px;
 color: white;
 font-weight: bold;
}
/* todos os elementos input */
input.input-readonly{
  background-color: rgba(0,0,0,0);
}
/* todos os elementos input em modo de edicao*/
input.input-edit{
  background-color: rgba(0,0,0,.3);  
}
/* todos os elementos input do tipo texto */
.modal-body input[type=text]::placeholder{
  opacity: 1;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
/* caixa de descricao do modal */
.modal-body #modal-desc{
  background-color: rgba(0,0,0,.3);  
  color: white;  
  border: none;
  width: 100%;
}
/* margem do corpo do modal modal */
.modal-body .marg10{
  margin-top: 10px;
}
.modal .proximo{
  float: right;
}
